body {
	background-color: #EE9A4D
}

.well {
	background-color: #FFFFFF;
	background-image: none
}

.jumbotron {
	background-color: #38ACEC;
}

.jumbotron h1 {
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	font-size: 40px;
}

.jumbotron h2 {
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	font-size: 40px;
}

.plop-disclaimer {
	margin-top: 20px
}

#support {
	float: left;
	margin-right: 30px
}

#support img, #organization img {
	margin-right: 20px
}
