body {
	background-color: #EE9A4D
}

.well {
	background-color: #FFFFFF;
	background-image: none
}

.jumbotron {
	background-color: #38ACEC;
}

.jumbotron h1 {
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	font-size: 40px;
}

.jumbotron h2 {
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	font-size: 40px;
}

.plop-disclaimer {
	margin-top: 20px
}

#support {
	float: left;
	margin-right: 30px
}

#support img, #organization img {
	margin-right: 20px
}

.custom-nav {
	padding-left: 0px;
	padding-right: 0px
}

.custom-nav > li {
	float: none;
	list-style: none outside none;
	display: table-cell;
    width: 1%;
}

.custom-nav > li + li {
	margin-left: 2px
}

.custom-nav > li > a {
	padding: 10px 5px;
	margin-right: 2px;
	margin-bottom: 0px
}

.custom-nav > li:last-child > a {
	margin-right: 0px;
}
